body {
  background-color: black;
}


.container {
  display: grid;
  width: 90vw;
  height: 105vh;
  background-color: rgb(187, 187, 187);
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}


header {
  text-align: center;
}

section {
  height: 800px;
  width: 85vw;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-rows: auto auto;
  border: 5px solid black;
  border-radius: 2px;
  box-shadow: darkgray 1px 1px;
}

main {

}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

.msgBox {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  row-gap: auto;
}

#contact {
  margin:  auto;
  margin-bottom: 2%;
}

#msgContent {
  margin: auto;
  margin-top: 2%;
}

#msg, #contactInput {
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.2rem;
}

#contactInput {
  height: 2.3rem;
}

.memeSearch {
  display: grid;
  row-gap: auto;

}

#search {
  margin: auto;
  margin-bottom: 2%;
}

#imgSearchTerm {
  height: 2.3rem;
  width: 370px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.2rem;
}

#result {
  margin: auto;
  margin-bottom: 2%;
  background-color: rgb(0, 67, 118);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  padding: 5px 20px;
  border-radius: 5px;


  margin: 4px, auto;
  padding: 3px;
  width: 400px;
  height: 250px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: center;
}

#result p {
  color: white;
  font-weight: bold;
}


img {
  width: 300px;
}

#overlay {
  margin: auto;
  margin-bottom: 2%;

}

button {
  text-align: center;
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(27, 59, 84);
  border-radius: 5px;
  box-shadow: darkgray 1px 1px;
}

#sendBtn {
  align-items: center;
  margin: 0 auto;
  width: 412px;
  height: 1.8rem;
  background-color: darkgrey;
  font-weight: bold;
  font-size: 1.1rem;

}

#sendBtn:hover {
  background-color: black;
  color: white;
}

button p {
  text-align: center;


}

/* #overlayBtn {
  background-image: url("./assets/img/overlayText.png");
  background-repeat: no-repeat;
  background-size: cover;

} */


footer {
  text-align: center;
}
