body {
  font-family: 'Permanent Marker', cursive;
  background-color: black;
}

.container {
  display: grid;
  width: 90vw;
  height: 95vh;
  background-color: rgb(0, 0, 0);
  /* background-color: rgb(187, 187, 187); */
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}


header {
  text-align: center;
  color: whitesmoke
}

section {
  height: 750px;
  width: 100%;
  display: grid;
  margin: auto;

  /* grid-template-columns: 2fr 1fr; */
  grid-template-rows: auto auto;
  border: 5px solid darkgray;
  border-radius: 5px;
  box-shadow: whitesmoke 0.6px 1.5px;
}

label {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 10px;
  color: whitesmoke;
}

.msgBox {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  row-gap: auto;
}

#contact {
  margin: auto;
  margin-bottom: 2%;
}

#msgContent {
  margin: auto;
  margin-top: 2%;
}

#msg,
#contactInput {
  width: 400px;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 0.2rem;
}

#contactInput {
  height: 2.3rem;
}

.memeSearch {
  display: grid;
  row-gap: auto;

}

#search {
  margin: auto;
  margin-bottom: 2%;
}

#imgSearchTerm {
  height: 2.3rem;
  width: 365px;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 0.2rem;
}

#result {
  margin: auto;
  margin-bottom: 2%;
  background-color: rgb(220, 220, 220);
  border: 3px solid darkgray;
  border-radius: 2px;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;


  margin: 4px, auto;
  padding: 3px;
  width: 400px;
  height: 250px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: center;
}


#searchResultTitle {
  color: rgb(0, 0, 0)0);
  font-weight: bold;
  display: inline;
  border-bottom: 3px solid black;
  border-radius: 5px;
  padding-bottom: 5px;
}

img {
  width: 300px;
}

button {
  text-align: center;
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(135, 135, 135);
  border-radius: 5px;
  box-shadow: darkgray .5px 1px;
}

#sendBtn {
  font-family: 'Permanent Marker', cursive;
  align-items: center;
  margin: 0 auto;
  width: 412px;
  height: 1.8rem;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 1.1rem;
}

#sendBtn:hover {
  background-color: black;
  color: whitesmoke;
}

button p {
  text-align: center;
}

footer {
  text-align: center;
  color: whitesmoke;
}
